roadnetworks/
plots.ipynb
Untitled.ipynb
Max_explored_nodes
Max_explored_nodes.txt
Max_path
Max_path.txt
path.txt
pathFarthest
pathMax
landmarksbelgium
landmarksbelgiumcoord
Farthest_explored_nodes.txt
Farthest_path.txt
explored_nodes.txt
exploredNodesFarthest
exploredNodesMax
BiAvoid_explored_nodes.txt
BiAvoid_path.txt
Avoid_nodes.txt
Avoid_path.txt
AStar_explored_nodes.txt
AStar_path.txt
ALTAvoid_path
ALTAvoid_explored
Landmarks_Farthest
Landmarks_Farthestcoord
ASTarBidi_path
ALTAvoidBi_explored
GOATed_Bid_ALT_Avoid_Query.png
Landmarks_Avoid
Landmarks_Avoidcoord
ALTFurhtestBi_explored
ALTFarthest_explored
ALTFarthest_path
AStar_Bidirectional_explored
AStar_Bidirectional_path
DijkstraBidi_explored
ALTFarthestBi_explored
.ipynb_checkpoints/
.idea/
GOATed_Bid_ALT_Avoid_Query.png