roadnetworks/
plots.ipynb
Untitled.ipynb
Max_explored_nodes
Max_explored_nodes.txt
Max_path
Max_path.txt
path.txt
pathFurthest
pathMax
landmarksbelgium
landmarksbelgiumcoord
Furthest_explored_nodes.txt
Furthest_path.txt
explored_nodes.txt
exploredNodesFurthest
exploredNodesMax
BiAvoid_explored_nodes.txt
BiAvoid_path.txt
Avoid_nodes.txt
Avoid_path.txt
AStar_explored_nodes.txt
AStar_path.txt
ALTAvoid_path
ALTAvoid_explored
Landmarks_Furthest
Landmarks_Furthestcoord
ASTarBidi_path
ALTAvoidBi_explored
GOATed_Bid_ALT_Avoid_Query.png
Landmarks_Avoid
Landmarks_Avoidcoord
ALTFurhtestBi_explored
ALTFurthest_explored
ALTFurthest_path
AStar_Bidirectional_explored
AStar_Bidirectional_path